<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
<link rel="stylesheet" th:href="@{/styles/default.css}">
<head>
    <title>Admin - Welcome</title>
    <link rel="stylesheet" th:href="@{/styles/default.css}">
</head>
<body>
<div th:replace="fragments/top-navbar :: navbar"></div>
<!--<span th:text ="${#authentication.getPrincipal().getUsername}"></span>-->
<h1 th:inline="text">Welcome [[${#httpServletRequest.remoteUser}]]!</h1>
<p>This is the admin console, restricted to administrators only.</p>
<p>Please use your admin powers responsibly.</p>
<p><form th:action="@{/api/v1/user/list}" method="get" >
    <input type="submit" value="View all users" class="button"/> </form><form th:action="@{/api/v1/item/list}" method="get">
    <input type="submit" value="View all items" class="button"/>
</form
> </p>
<form th:action="@{logout}" method="post">
    <input type="submit" value="Sign out">
</form>
<a href="/home" class="button">
       Back to Home</a>
</body>
</html>
