<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
>
<head>
    <title>Admin - Welcome</title>
    <link rel="stylesheet" th:href="@{/styles/default.css}">
</head>
<body>
<h1 th:inline="text">Welcome [[${#httpServletRequest.remoteUser}]]!</h1>
<p>This is the admin console, restricted to administrators only.</p>
<p>Please use your admin powers responsibly.</p>
<p><form th:action="@{/api/v1/user/list}" method="get">
    <input type="submit" value="View all users"/>
</form><form th:action="@{/api/v1/item/list}" method="get">
    <input type="submit" value="View all items" class="button"/>
</form> </p>

<a href="/home" class="button">
       Sign out</a>
</body>
</html>
