<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
<link rel="stylesheet" th:href="@{/styles/default.css}">
<head>
    <title>Purchase Complete</title>
    <link rel="stylesheet" th:href="@{/styles/default.css}">
    <meta charset="UTF-8">
</head>
<body>
<div th:replace="fragments/top-navbar :: navbar"></div>
<h1>Purchase Completed</h1>
Thank you for your order! It has now been placed.

<a th:href="@{/home}" class="btn btn-primary">Back to Home</a>
</body>
</html>