<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
<link rel="stylesheet" th:href="@{/styles/default.css}">
<head>
    <title>Shoppiq Webapp</title>
    <link rel="stylesheet" th:href="@{/styles/default.css}">
</head>
<body>
<div th:replace="fragments/top-navbar :: navbar"></div>
<h1>Error!</h1>
<p>Sorry, our webapp has encountered an error!</p>
<p>Click <a th:href="@{/home}">here</a> to return to the homepage.</p>

</body>
</html>