<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Shoppiq Webapp</title>
    <link rel="stylesheet" th:href="@{/styles/default.css}">
</head>
<body>
<h1>Welcome to the Shoppiq webapp!</h1>
<p>Click <a th:href="@{/application}">here</a> to continue to the app.</p>
<p>Click <a th:href="@{/login}">here</a> to log in. </p>
<p>Click <a th:href="@{/admin}">here</a> to go to admin console </p>
<p>Click <a th:href="@{/api/v1/item/search}">here</a> to go search for items </p>
<button type="button" th:onclick="showAlert()">Show Alert</button>
<script type="text/javascript" th:src="@{/js/home.js}"></script>
</body>
</html>