<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Confirm Purchase</title>
    <link rel="stylesheet" th:href="@{/styles/default.css}">
</head>
<body>
<h1>Please confirm your purchase</h1>
<div class="container my-5" th:if="${orderDetails}">

    <table border="0">
        <thead>
        </thead>
    <tr>
        <td><b>Seller :</b></td>

        <td><a th:href="@{/api/v1/user/view/{username}(username=${item.sellerId.username})}" th:text="${item.sellerId.username}"></a></td>
    </tr>

<!--    <tr th:if="${orderDetails.itemName}">-->
        <tr>
        <td><b>Item : </b></td>

        <td><a th:text="${item.name}" th:href="@{/api/v1/item/view/{id}(id=${item.id})}"></a></td>

<!--        <td><a th:href="@{/api/v1/item/view/{id}(id=${orderDetails.itemId})}" th:text="${orderDetails.itemName}"></a></td>-->
    </tr>
    <tr>
        <td><b>Quantity :</b></td>

        <td th:text="${orderDetails.quantity}">...</td>
    </tr>

    <tr>
        <td><b>Total Price :</b> </td>
        <td th:text="${orderDetails.price}">...</td>
    </tr>
    </table>
        <br/><br/>
    <form action="#" th:action="@{/api/v1/order/add}"  method="post">
        <input type="hidden" th:object="${orderDetails}" th:value="${orderDetails.getId()}" th:attr="name='id'" class="login-form-field" id="item"/>
        <input type="hidden" th:object="${orderDetails}" th:value="${orderDetails.getItemId()}" th:attr="name='itemId'" class="login-form-field" id="item"/>
        <input type="hidden" th:object="${orderDetails}" th:value="${orderDetails.getItemName()}" th:attr="name='itemName'" class="login-form-field" id="item"/>
        <input type="hidden" th:object="${orderDetails}" th:value="${orderDetails.getQuantity()}" th:attr="name='quantity'" class="login-form-field" id="item"/>
        <input type="hidden" th:object="${orderDetails}" th:value="${orderDetails.getPrice()}" th:attr="name='price'" class="login-form-field" id="item"/>
        <input type="hidden" th:object="${string}" th:value="${#httpServletRequest.remoteUser}" th:attr="name='buyer'"/>
      <input type="submit" id="login-form-submit" value="Confirm">
    </form>
</div>
</body>
</html>