@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');

body {
    background-color: white;
}
h1 {
    color: deeppink;
    font-family: 'Nerko One', cursive;
}
p {
    color: hotpink;
    font-family: 'Noto Sans JP', sans-serif;
}

.button {
    width: 15%;
    margin: 1% 7px;
    padding-top: 2%;
    padding-bottom: 2%;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    background-color: hotpink;
    cursor: pointer;
    outline: none;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 100%;
    display: inline-block;
    text-align: center;
    text-decoration: none;

}
