@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;700&display=swap');

html {
    height: 100%;
}

h1 {
    color: deeppink;
    font-family: 'Nerko One', cursive;
}
p {
    color: hotpink;
    font-family: 'Noto Sans JP', sans-serif;
}

body {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: white;
}

#main-holder {
    width: 50%;
    height: 70%;
    display: grid;
    grid-auto-rows: 20% 20% 60%;
    justify-items: center;
    align-items: center;
    background-color: white;
    border-radius: 7px;
    box-shadow: 0px 0px 5px 2px deeppink;
}
#login-header{
    margin-top: 30%;
    font-size: 500%;
    justify-content: flex-end;
}

#login-error-msg-holder {
    width: 100%;
    /*height: 100%;*/
    display: grid;
    justify-items: center;
    align-items: center;
    margin-top: 0;
}

#login-error-msg {
    width: 23%;
    text-align: center;
    margin: 0;
    padding: 0px;
    font-size: 12px;
    font-weight: bold;
    color: #8a0000;
    border: 1px solid #8a0000;
    background-color: #e58f8f;
    opacity: 0;
}

#error-msg-second-line {
    display: block;
}

#login-form {
    align-self: flex-start;
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: white;

}

.login-form-field::placeholder {
    color: #3a3a3a;
}

.login-form-field {
    border: none;
    border-bottom: 1px solid #3a3a3a;
    margin-bottom: 10px;
    border-radius: 3px;
    outline: none;
    padding: 0px 0px 5px 5px;
    background-color: white;
    font-family: 'Noto Sans JP', sans-serif;

}

#login-form-submit {
    width: 80%;
    margin: 12% 7px 7px;
    padding-top: 5%;
    padding-bottom: 5%;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    background-color: hotpink;
    cursor: pointer;
    outline: none;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 150%;


}